<template>
  <div>
    <Head>
      <Link rel="icon" href="/signature.svg" />
    </Head>
    <div class="flex h-screen bg-[#e6e6e6]">
      <NuxtLoadingIndicator />
      <div
        class="m-pad-2 flex-1 border box-border border-gray-700 overflow-auto"
      >
        <NuxtPage />
      </div>
    </div>
  </div>
</template>
