<script setup lang="ts">
import { ArticleStoryblok } from '~/component-types-sb';

const props = defineProps<{ article: ArticleStoryblok; slug: string }>();
</script>

<template>
  <div v-editable="article" class="">
    <NuxtLink :to="slug">
      <div
        class="flex xl:flex-col flex-row-reverse items-end hover:text-gray-400 transition-all"
      >
        <div
          class="text-[6vw] xl:text-4xl font-extralight self-end leading-none"
        >
          {{ article.title }}
        </div>
        <div class="text-end font-bold leading-8 pr-2">
          {{ article.title }}
        </div>
      </div>
    </NuxtLink>
  </div>
</template>
