<template>
  <div class="absolute z-10 font-neue-montreal right-pad-4 bottom-pad-4">
    <div>Space aficionado.</div>
    <div>Zealous open sourceror.</div>
    <div>Watching data come to life</div>
    <div>is why I write code.</div>
    <div>My mission is to take part</div>
    <div>in our proliferation into space.</div>
    <div>Ad astra.</div>
  </div>
</template>
