<script setup lang="ts">
const particlesLoaded = async (container: any) => {
  console.log('Particles container loaded', container);
};
</script>

<template>
  <div class="h-full overflow-auto relative">
    <NuxtParticles
      id="tsparticles"
      @particles-loaded="particlesLoaded"
      :options="{
        fpsLimit: 30,
        fullScreen: {
          enable: true,
          zIndex: -1,
        },
        style: {
          position: 'absolute',
        },
        particles: {
          number: {
            value: 500,
          },
          color: {
            value: '#909090',
            animation: {
              enable: true,
              speed: 20,
              sync: true,
            },
          },
          shape: {
            type: 'circle',
          },
          opacity: {
            value: 0.1,
          },
          size: {
            value: { min: 1, max: 3 },
          },
          links: {
            enable: true,
            distance: 100,
            color: '#909090',
            opacity: 0.8,
            width: 1,
            triangles: {
              enable: true,
              color: '#909090',
              opacity: 0.01,
            },
          },
          move: {
            enable: true,
            speed: 2,
            direction: 'none',
            outModes: 'out',
          },
        },
        interactivity: {
          events: {
            onHover: {
              enable: true,
              mode: 'repulse',
            },
            onClick: {
              enable: true,
              mode: 'push',
            },
          },
          modes: {
            repulse: {
              distance: 100,
            },
            push: {
              quantity: 4,
            },
          },
        },
        background: {
          color: '#e6e6e6',
        },
        detectRetina: true,
      }"
    />
  </div>
</template>
