<script setup lang="ts">
const { slug } = useRoute().params;

const url = slug && slug.length > 0 ? (<string[]>slug).join('/') : 'home';

const story = await useAsyncStoryblok(url.replace(/\/$/, ''), {
  version: 'published',
});
</script>

<template>
  <HomepageBannerAndLinks />
  <StoryblokComponent v-if="story" :blok="story.content" :story="story" />
</template>
