<script setup lang="ts">
const { public: config } = useRuntimeConfig();
const resolveRelations = ['latest-articles.articles'];

const story = await useAsyncStoryblok('blog', {
  version: 'published',
  resolve_relations: resolveRelations,
});
</script>

<template>
  <div class="h-full overflow-auto">
    <HomepageBannerAndLinks />
    <div class="ml-auto h-full w-full font-neue-montreal">
      <StoryblokComponent v-if="story" :blok="story.content" />
    </div>
  </div>
</template>
