<script setup lang="ts">
const { isDesktop } = useDevice();
</script>

<template>
  <div class="h-full">
    <HomepageBannerAndLinks />
    <!-- <HomepageBio /> -->
    <!-- <Particles v-if="isDesktop" /> -->
  </div>
</template>
