<script setup lang="ts">
const story = await useStoryblok('projects', { version: 'published' });
</script>

<template>
  <div class="h-full overflow-auto">
    <HomepageBannerAndLinks />
    <div class="mx-auto mt-8 w-1/2">
      <StoryblokComponent v-if="story" :blok="story.content" />
    </div>
  </div>
</template>
