<script setup lang="ts">
import { ArticleStoryblok } from '~/component-types-sb';

const props = defineProps<{ blok: ArticleStoryblok; story: any }>();
</script>

<template>
  <div
    v-editable="blok"
    class="container prose prose-slate flex flex-col mx-auto h-full"
  >
    <div class="mx-auto text-4xl my-8 font-neue-montreal">
      {{ blok.title }}
    </div>
    <div>
      <ul>
        <li v-for="tag in story.tag_list" class="list-none leading-4">
          {{ tag }}
        </li>
      </ul>
    </div>
    <StoryblokComponent
      v-for="blok in props.blok.content"
      :key="blok._uid"
      :blok="blok"
    />
  </div>
</template>
