<script setup lang="ts">
import { ArticleParagraphStoryblok } from '~/component-types-sb';

const props = defineProps<{ blok: ArticleParagraphStoryblok }>();
</script>

<template>
  <div>
    {{ blok.content }}
  </div>
</template>
