<script setup lang="ts">
import { FeatureStoryblok } from '~/component-types-sb';

const props = defineProps<{ blok: FeatureStoryblok }>();
</script>

<template>
  <div
    v-editable="blok"
    class="w-1/2 mx-auto m-12 p-12 bg-[#f7f6fd] rounded-[5px] text-center"
  >
    <h3 class="text-2xl text-[#1d243d] font-bold">
      {{ blok.name }}
    </h3>
  </div>
</template>
