<script setup lang="ts">
import { FigureStoryblok } from '~/component-types-sb';

const props = defineProps<{ blok: FigureStoryblok }>();
</script>

<template>
  <img :src="blok.image?.filename" alt="" />
</template>
