<script setup lang="ts">
import { GridStoryblok } from '~/component-types-sb';

const props = defineProps<{ blok: GridStoryblok }>();
</script>

<template>
  <div v-editable="blok">
    <StoryblokComponent
      v-for="blok in props.blok.columns"
      :key="blok._uid"
      :blok="blok"
    />
  </div>
</template>
