<script setup lang="ts">
import { StoryblokStory } from 'storyblok-generate-ts';
import {
  ArticleStoryblok,
  LatestArticlesStoryblok,
} from '~/component-types-sb';

const props = defineProps<{ blok: LatestArticlesStoryblok }>();
</script>

<template>
  <div
    v-editable="blok"
    class="min-h-full flex flex-col flex-1 justify-end items-end xl:gap-4 pr-pad-2 pt-24"
  >
    <div class="font-normal text-xl py-pad-2">■ Articles</div>
    <ArticleCard
      v-for="article in blok.articles as StoryblokStory<ArticleStoryblok>[]"
      :key="article.uuid"
      :article="article.content"
      :slug="article.full_slug"
    />
  </div>
</template>
