<script setup lang="ts">
import { TeaserStoryblok } from '~/component-types-sb';

const props = defineProps<{ blok: TeaserStoryblok }>();
</script>

<template>
  <div v-editable="props.blok" class="text-right">
    {{ blok.headline }}
  </div>
</template>
